<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Registro</title>
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link href="/css/style.css" rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
	rel="stylesheet">
<link rel="icon" type="image/ico" href="/img/rayo.ico" />
<title></title>
</head>

<body class="form-v10">
	<div class="page-content">
		<div class="form-v10-content">
			<form class="form-detail" th:action="@{/users/saveClient}"
				th:object="${userClient}" method="post">
				<div class="form-left">
					<h2>Registrate Aventuro</h2>
					<!----Nombre-->
					<div class="form-row">
						<div class="nameLabel">
							<label for="name">Nombres y Apellidos: </label>
						</div>
						<div>
							<input type="text" th:field="*{nameUser}"
								pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúñÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙÑ ]{2,254}"
								title="Solo letras" required="" minlength="3" maxlength="70">
							<div>
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('nameUser')}"
									th:errors="*{nameUser}"></small>
							</div>
						</div>
					</div>

					<!--Contraseña-->
					<div class="form-row">
						<div class="nameLabel">
							<label for="name">Contraseña: </label>
						</div>
						<div>
							<input type="password" th:field="*{passwordUser}"
								th:errorclass="'form-control alert-danger'"
								class="passwordUser" required="" minlength="3" maxlength="200">
							<div>
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('passwordUser')}"
									th:errors="*{passwordUser}"></small>
							</div>
						</div>
					</div>

					<!--phone-->
					<div class="form-row">
						<div class="nameLabel">
							<label for="name">Telefono: </label>
						</div>
						<div>
							<input type="number" th:field="*{phoneUser}" class="phoneUser"
								required="" max="999999999" min="900000000" th:errorclass="'form-control alert-danger'">
							<div>
								<p th:text="${mensaje}" class="nameLabel"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="vl"></div>
				<div class="form-right">
					<div></div>
					<!--phone-->
					<div class="form-row">
						<div class="nameLabel">
							<label for="name">Correo Eléctronico: </label>
						</div>
						<div>
							<input type="email" th:field="*{emailUser}" class="emailUser"
								required=""
								minlength="15" maxlength="70"
								th:errorclass="'form-control alert-danger'">
							<div>
								<p th:text="${mensaje}" class="nameLabel"></p>
							</div>
						</div>
					</div>

					<!--dni-->
					<div class="form-row">
						<div class="nameLabel">
							<label for="name">DNI: </label>
						</div>
						<div>
							<input type="number" th:field="*{dniClient}" class="dniClient"
								required="" max="99999999" min="70000000">
							<div>
								<small class="form-text text-danger"
									th:if="${#fields.hasErrors('dniClient')}"
									th:errors="*{dniClient}"></small>
							</div>
						</div>
					</div>

					<!--Birthday-->
					<div class="form-row">
						<div class="nameLabel">
							<label for="name">Fecha de nacimiento: </label>
						</div>
						<div>
							<input type="date" th:field="*{birthDateClient}"
								required="required" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('birthDateClient')}"
								th:errors="*{birthDateClient}"></small>
						</div>
					</div>

					<!-- City -->
					<div class="form-row">
						<div class="nameLabel">
							<label for="name">Ciudad: </label>
						</div>
						<div>
							<select class="form-control" th:field="*{city.idCity}">
								<option th:each="ci: ${listaCiudades}" th:value="${ci.idCity}"
									th:text="${ci.nameCity}"
									th:selected="(${ci.idCity} == *{city.idCity})"></option>
							</select>
						</div>

					</div>


					<div class="form-row-last">
						<input type="submit" name="register" class="register"
							value="Registrar"></input>
					</div>

				</div>
			</form>
		</div>
	</div>
	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
</body>
</html>

</html>